* {
  margin: 0;
  padding: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
nav {
  background-color: rgb(26, 28, 169);
  color: white;
  padding: 30px;
}
nav li {
  list-style: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.byte {
  text-align: center;
  margin: 20px 0;
}
.boxes {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 33%;
}
.boxes img {
  width: 300px;
  height: 400px;
}
.wrapper {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;

  text-align: start;
}

.lists li,
.address p {
  margin-top: 10px;
}

.income {
  width: 80%;
  margin: 20px auto;
}
.income p {
  margin: 20px 0;
  font-size: 25px;
}
.income table {
  width: 90%;
  border: 2px solid;
}
th {
  border: 2px solid;
}
